@import url('https://fonts.googleapis.com/css?family=Poppins');
@import compass;

html {
	box-sizing: border-box;
 	font-family: 'Poppins', sans-serif;
}

*, 
*:before,
*:after{
	box-sizing: inherit;
}

header img{
	max-width: 150px;
	height: auto;
}

body{
  background-color: #262626;
  color: #FFFFFF;
  font-family: 'Poppins', sans-serif;
 
  display: grid;
  grid-template-columns: 1fr 1fr;

  grid-template-areas: 
        "head  head"
        "area1  area1"
        "area2  area2"
        "area3  area3"
        "area4  area4"; 
}

.header{
  grid-area: head;
} 

.area1{
  grid-area: area1;
  background-color: #404040;
}

.area2{
  grid-area: area2;
  background-color: #404040;
}

.area3{
  grid-area: area3;
  background-color: #404040;
}

.area4{
  grid-area: area4;
  background-color: #404040;
}

.header, .area1, .area2, .area3, .area4{
  padding: 0.2em 1em;
  margin: 0.2em;
}

.area1, .area2, .area3, .area4{
	 padding-bottom: 5%;
}

h1{
	color: white;
	font-size: 1.2em;
}

p{
	color: ;
	font-size: ;
	font-weight: ;
}

#chart_div{
	height: auto;
	width: 100%;
}

#top_x_div{
	height: auto;
	width: 100%;
}

#chartContainer{
	height: 370px;
	width: 100%;
}

#chartdiv {
  width: 100%;
  height: auto;
  color: white;
}

/*Tablet*/
@media only screen and (min-width: 601px) and (max-width: 1023px){
	body{
	  display: grid;
	  grid-template-columns: 1fr 1fr;

	  grid-template-areas: 
	        "head  head"
	        "area1  area2"
	        "area3  area4"; 
	}
}

/*Laptop*/
@media only screen and (min-width: 1024px) and (max-width: 1599px){
	body{
	  display: grid;
	  grid-template-columns: 1fr 1fr 1fr;

	  grid-template-areas: 
	        "head  head  head"
	        "area1  area2  area3"
	        "area4  area4  area4"; 
	}
}

/*Grote desktop*/
@media only screen and (min-width: 1600px) and (max-width: 2600px){
	body{
	  display: grid;
	  grid-template-columns: 1fr 1fr 1fr;

	  grid-template-areas: 
	        "head  head  head"
	        "area1  area2  area3"
	        "area4  area4  area4"; 
	}
}
